@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #ded6cc;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #885a3aa1;
    transition: all 300ms ease;
}

/* 

NAV

*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__links {
    display: flex;
    list-style-type: none;
    position: relative;
}

.nav__link {
    text-decoration: none;
    padding-left: 24px;
    padding-right: 12px;
    color: white;
    font-size: 20px;
   
}

.nav__link:hover {
    text-decoration: underline;
    color: #885a3aa1;
    transition: all 300ms ease;
}

.header__title {
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #885a3aa1;
}

.search__box {
  display: flex;  
  justify-content: center;      
  align-items: center;          
  margin-top: 12px;
}


.search__input {
    background: #ded6cc;
    color: #885a3aa1;
    border: 2px solid #885a3aa1;
    border-radius: 10px;
    padding: 12px 24px;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.fa-magnifying-glass {
    color:#885a3aa1;
    margin-left: 12px;
    cursor: pointer;
    position: absolute;
    transform: translateX(450%);
}


input::placeholder {
    color: white;
}
input:focus {
  outline: none;
}
/* .search__btn:hover {
  background: rgba(255, 255, 255, 0.4);
} */

.divider {
  border: none;                
  height: 2px;                 
  background-color: white;   
  margin: 2rem 0;
}

/*

MAKEUP

*/
#makeup {
    margin-top: 64px;
}

.row__makeup {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.makeup__lists {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    gap: 0.5rem;   

}
.makeup__name {
    font-size: 18px;
    padding: 12px 12px;
    color: #885a3aa1;
    cursor: pointer;
}

.makeup__img {
   border: 2px solid white;
   border-radius: 12px;
   padding: 12px 12px;
   cursor: pointer;
}
.makeup__ratings {
    
}