@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #ded6cc;
}

/* 

NAV

*/


.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.nav__links {
    display: flex;
    list-style-type: none;
}
.nav__link {
    text-decoration: none;
    padding-left: 24px;
    padding-right: 12px;
    color: white;
    font-size: 20px;
}

.header__title {
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #885a3aa1;
}

.search__box {
  display: flex;  
  justify-content: center;      
  align-items: center;          
  margin-top: 12px;
}

.search__input {
    background: #ded6cc;
    color: #885a3aa1;
    border: 2px solid #885a3aa1;
    border-radius: 10px;
    padding: 12px 24px;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.3s ease;
}

input::placeholder {
    color: white;
}
input:focus {
  outline: none;
}
/* .search__btn:hover {
  background: rgba(255, 255, 255, 0.4);
} */

.fa-magnifying-glass {
    color:#885a3aa1;
    margin-left: 12px;
    cursor: pointer;
}
